{% extends 'base.html.twig' %}

{% block title %}Carl Fuchs PortFolio{% endblock %}

{% block body %}


<div class="d-flex h-100">
    <div class="w-25 d-flex flex-column p-5 mybg-primary left-container shadow">
        <h3>PERSONNEL</h3>
        <i class="fas fa-car"></i>
        <h4>DRIVING LICENCE
            (2017)
            PERSONAL
            VEHICULE</h4>
        <h3>LANGUAGES</h3>
        <ul>
            <li> FRENCH </li>
            <li>ENGLISH (B2)</li>
        </ul>
        <h3>TECHNICAL SKILLS</h3>
        <ul>
            <li>HTML/CSS 4/5</li>
            <li>LESS 4/5</li>
            <li>KOTLIN 3/5</li>
            <li>FLUTTER 3/5</li>
            <li>Javascript 4/5</li>
            <li>TypeScript 4/5</li>
            <li>C#/Net 4/5</li>
            <li>PHP 4/5</li>
            <li>SQL 3/5</li>
        </ul>
        <h3>DESIGN SKILLS</h3>
        <ul>
            <li>Photoshop 3/5</li>
            <li>Final Cut 3/5</li>
        </ul>
        <h3>OS SKILLS</h3>
        <ul>
            <li>Windows 5/5</li>
            <li>Mac os 5/5</li>
            <li>Linus 4/5</li>
        </ul>


    </div>
    <div class="w-75 d-flex flex-column p-5 bg-lightgray overflow-auto">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column align-items-center me-5">
                <h1>Carl Fuchs</h1>
                <h3>+33(0)3395090981</h3>
                <h3>CARL.FUCHS@ICLOUD.COM</h3>
                <h3>DATE OF BIRTH 17 JAN 1999</h3>
            </div>
            <div class="d-flex flex-column align-items-center">
                <h1>IT Student</h1>
                <h3>480 RUE ST EXUPERY,LA RAVOIRE,73490,FRANCE</h3>
            </div>
        </div>
        <h2 class="mybg-secondary rounded-2 p-1 shadow">EXPERIENCES</h2>
        <p>2020/2021 RESEARCH AND DEVELOPMENT DEVELOPER : TS,C# .NET WEBSITE
            TechForm Sas : 35 peoples company
            Specialized in Cloud CPQ solutions
            Creating a Wiki solutions using the Techform smartConfigurator
            FrameWork
            TECHFORM SAS (CLOUD CPQ) - CHAVANOD 74067,FRANCE
            JANNUARY/
            FEBRUARY 2020
            PHP DEVELOPER
            New ERP integration at the CHU(teaching hospital center) of Annecy at
            research and developpement team
            CHU ANNECY 74000 ANNECY,FRANCE
            SUMMER 2019
            SUMMER 2020
            AUTOMOBILE AESTHETIC PREPARER
            Jeain Lain Automobile sas
            20 car dealership in France
            Summer Job
            JEAN LAIN AUTOMOBILE - LA MOTTE-SERVOLEX 73179,FRANCE
            MAY/JUNE
            2019
            DELPHI DEVELOPER
            Bio-Logic science instruments , international company 7 offices
            around the world
            Optimizing the communications software for the science product
            using threads
            BIO-LOGIC SCIENCE INSTRUMENTS - GRENOBLE 38000,FRANCE
            SEPTEMBER 2016 WEB DÉVELOPPEMENT
            Website creation for a jeweler
            (UPDATE 2020 - www.charlesfuchs.fr)
            HORLOGERIE FUCHS - 73000 CHAMBÉRY,FRANCE
            DECEMBER 2014 DATABASE ADMINISTRATION
            TOURIST OFFICE - 73000 CHAMBÉRY,FRANCE</p>
        <h2 class="mybg-secondary rounded-2 p-1 shadow">EDUCATION & QUALIFICATIONS </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin risus lacus, in congue justo hendrerit sed. Mauris magna dui, venenatis feugiat tincidunt id, mattis vitae tellus. Pellentesque posuere eget mauris vel pharetra. In pellentesque enim eu mi suscipit tincidunt. Praesent interdum nisl diam, ut luctus erat posuere nec. Suspendisse fringilla nisl urna, at fringilla lorem commodo elementum. Morbi lobortis leo imperdiet, ornare nisl a, eleifend metus. Donec at tortor nec erat fermentum varius at in lectus. Proin quis ligula nulla. Mauris lacinia lectus nibh, vitae fringilla urna sollicitudin cursus. Vestibulum id ex non turpis sagittis maximus lobortis sed diam. Suspendisse varius dignissim quam, quis euismod turpis varius sit amet. Praesent finibus tempor ultricies. Praesent posuere, ante ut sagittis varius, erat ante dignissim arcu, a aliquam ex purus mattis neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

            Nulla magna sapien, condimentum quis pellentesque et, ultricies eget dolor. Nulla ut auctor mauris. Nunc quis imperdiet massa, nec dictum tortor. Cras posuere ultrices odio sed gravida. Quisque tempus, nisl eget consectetur fermentum, urna tellus ornare nibh, at porttitor nisl nunc at justo. Aenean nec enim ac urna tempor gravida. Sed tincidunt imperdiet orci, in euismod turpis finibus sed. Curabitur posuere nibh sem, eu ullamcorper neque posuere at. Nam a odio laoreet, hendrerit nisi non, porta diam. Morbi eu quam ut purus convallis interdum. In porta sollicitudin erat, et sagittis augue aliquam non. Aenean tempus lobortis metus.

            Duis cursus dui vitae turpis lobortis aliquet. Aliquam quis risus dapibus, aliquet mi et, molestie massa. Curabitur ac sem varius, placerat tellus sit amet, blandit mi. Etiam elementum pellentesque volutpat. Aenean metus augue, vehicula eu quam ac, elementum ornare dolor. Mauris non elit lectus. Phasellus nibh diam, pellentesque eget risus id, hendrerit tristique sapien.

            Donec sit amet velit malesuada, varius massa id, faucibus dui. Aliquam erat volutpat. Donec sem ante, scelerisque quis cursus sit amet, faucibus eget ex. Nunc eu neque eu justo dapibus malesuada. Donec faucibus semper mi a porttitor. Suspendisse tincidunt imperdiet mi, quis accumsan ligula aliquet ut. Duis scelerisque mi massa, posuere commodo orci malesuada at. Praesent sed enim neque. Sed elit mi, rutrum nec ullamcorper at, porttitor eu libero. Pellentesque feugiat ut massa at elementum. Pellentesque pharetra convallis libero a sodales. Fusce ornare ut quam non cursus. Morbi faucibus nulla semper commodo semper. Fusce eu cursus urna.

            Ut vestibulum viverra odio, scelerisque commodo erat gravida vitae. Morbi lacus ipsum, fringilla fringilla euismod suscipit, porta eget dolor. Etiam accumsan interdum ipsum vitae pulvinar. Maecenas pellentesque, leo non ultrices venenatis, sem leo ultricies magna, et luctus magna lorem at augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum lacus est, eget congue augue vehicula quis. In condimentum neque vel enim dictum convallis non at nisi. Suspendisse vitae felis accumsan nulla pretium laoreet quis vitae ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sollicitudin risus lacus, in congue justo hendrerit sed. Mauris magna dui, venenatis feugiat tincidunt id, mattis vitae tellus. Pellentesque posuere eget mauris vel pharetra. In pellentesque enim eu mi suscipit tincidunt. Praesent interdum nisl diam, ut luctus erat posuere nec. Suspendisse fringilla nisl urna, at fringilla lorem commodo elementum. Morbi lobortis leo imperdiet, ornare nisl a, eleifend metus. Donec at tortor nec erat fermentum varius at in lectus. Proin quis ligula nulla. Mauris lacinia lectus nibh, vitae fringilla urna sollicitudin cursus. Vestibulum id ex non turpis sagittis maximus lobortis sed diam. Suspendisse varius dignissim quam, quis euismod turpis varius sit amet. Praesent finibus tempor ultricies. Praesent posuere, ante ut sagittis varius, erat ante dignissim arcu, a aliquam ex purus mattis neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

            Nulla magna sapien, condimentum quis pellentesque et, ultricies eget dolor. Nulla ut auctor mauris. Nunc quis imperdiet massa, nec dictum tortor. Cras posuere ultrices odio sed gravida. Quisque tempus, nisl eget consectetur fermentum, urna tellus ornare nibh, at porttitor nisl nunc at justo. Aenean nec enim ac urna tempor gravida. Sed tincidunt imperdiet orci, in euismod turpis finibus sed. Curabitur posuere nibh sem, eu ullamcorper neque posuere at. Nam a odio laoreet, hendrerit nisi non, porta diam. Morbi eu quam ut purus convallis interdum. In porta sollicitudin erat, et sagittis augue aliquam non. Aenean tempus lobortis metus.

            Duis cursus dui vitae turpis lobortis aliquet. Aliquam quis risus dapibus, aliquet mi et, molestie massa. Curabitur ac sem varius, placerat tellus sit amet, blandit mi. Etiam elementum pellentesque volutpat. Aenean metus augue, vehicula eu quam ac, elementum ornare dolor. Mauris non elit lectus. Phasellus nibh diam, pellentesque eget risus id, hendrerit tristique sapien.

            Donec sit amet velit malesuada, varius massa id, faucibus dui. Aliquam erat volutpat. Donec sem ante, scelerisque quis cursus sit amet, faucibus eget ex. Nunc eu neque eu justo dapibus malesuada. Donec faucibus semper mi a porttitor. Suspendisse tincidunt imperdiet mi, quis accumsan ligula aliquet ut. Duis scelerisque mi massa, posuere commodo orci malesuada at. Praesent sed enim neque. Sed elit mi, rutrum nec ullamcorper at, porttitor eu libero. Pellentesque feugiat ut massa at elementum. Pellentesque pharetra convallis libero a sodales. Fusce ornare ut quam non cursus. Morbi faucibus nulla semper commodo semper. Fusce eu cursus urna.

            Ut vestibulum viverra odio, scelerisque commodo erat gravida vitae. Morbi lacus ipsum, fringilla fringilla euismod suscipit, porta eget dolor. Etiam accumsan interdum ipsum vitae pulvinar. Maecenas pellentesque, leo non ultrices venenatis, sem leo ultricies magna, et luctus magna lorem at augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum lacus est, eget congue augue vehicula quis. In condimentum neque vel enim dictum convallis non at nisi. Suspendisse vitae felis accumsan nulla pretium laoreet quis vitae ipsum.
        </p>
        <h2 class="mybg-secondary rounded-2 p-1 shadow">MISCELLANEOUS</h2>
        <h2 class="mybg-secondary rounded-2 p-1 shadow">HOBBIES / INTERESTS</h2>
        <h2 class="mybg-secondary rounded-2 p-1 shadow">REFERENCES</h2>
        <h2 class="mybg-secondary rounded-2 p-1 shadow">PERSONNEL SKILLS</h2>
        <h2 class="mybg-secondary rounded-2 p-1 shadow">JOB OBJECTIVE</h2>
    </div>
</div>
{% endblock %}
