@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
body {
    background-color: white;
}

$myprimary : #62605d;
$mysecondary : #18d1a9;


.myprimary{
    color : $myprimary;
}

.mysecondary{
    color : $mysecondary;
}

.mybg-primary{
    background-color : $myprimary;
}

.mybg-secondary{
    background-color :  $mysecondary;
}
.left-container{
    color: #F2FFFA;
}

.cursor-pointer{
    cursor: pointer;
}


.white{
    color: #F2FFFA;
}
.red{
    color: #cb1d2b;
}

.bg-lightgray{
    background-color : lightgray;
}

table{
    border-collapse: separate;
    border-spacing:3em;
}

table tr:nth-child(odd){
    background-color : #e3e3e3;
}

tr td:nth-child(n){
    margin-right: 1em;
}


td{
    padding: 1em;
}

.row{

}

.col div{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.col label{
    margin-right: 1em;
}

.col label:after {
    content: ' :';
}

.col .button{
    display: flex;
    justify-content: center;
    align-items: center;
}



