<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{encore_entry_script_tags('app') }}

        {% endblock %}

    </head>
    <body class="vh-100 p-3">
    <div class="h-100 ">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
